.background {
    background: linear-gradient(0deg, #111010, #4b4848);
    padding-top: 100px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px; 
    width: 100%;
    padding: 0 20px; 
    text-align: center;
}

.container h2 {
    color: #f1f1f1;
    font-size: 2em;  
    font-weight: bold;
    margin-bottom: 20px; 
}

.container p {
    color: #f1f1f1;
    font-size: 0.75em;
    text-align: center;
}

@media (min-width: 800px) {
    .container p {
        font-size: 1.5em;
    }
}